* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #c66e3d;
  --second-color: #e9d2ae;
  --third-color: #d2863f;
  --forth-color: #ebe8e7;
  --common-font: Comfortaa, sans-serif;
  --nav-font: Inter, sans-serif;
  --heading-font: Comfortaa, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: var(--common-font);
}

h2 {
  font-size: 2rem;
  color: var(--main-color);
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

/* header section */

header {
  height: 50vh;
  width: 100%;
  position: absolute;
}

nav {
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;

  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 40px;

  animation: slidedown 1s ease;
}

@keyframes slidedown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

#nav-logo {
  height: 80px;
  aspect-ratio: 1/1;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#nav-logo img {
  width: 100%;

  height: auto;
  min-width: 80px;

  object-fit: contain;
}

nav ul {
  display: flex;
  margin-left: 20px;
  font-family: var(--nav-font);
}

nav ul li {
  padding: 20px;
}

nav a {
  color: black;
}

/* main */
main {
  padding-top: 100px;
}

#title-menu {
  text-align: center;
  color: var(--main-color);
}

/* Hero section */

#hero {
  display: flex;
  align-items: center;

  position: relative;

  height: 80vh;
}

#hero .img-container {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 1;
}

#hero-img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

#hook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  position: relative;
  z-index: 2;
  padding-left: 20%;

  font-family: var(--heading-font);
  font-size: 3rem;
  color: white;
}

#hook img {
  display: inline-block;
  height: 4em;
  width: auto;
  vertical-align: bottom;
  object-fit: contain;
}

#hook p {
  padding-left: 30px;
}

/* About us section */

#about-us {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 60vh;
  background-color: var(--second-color);
}

#about-us-story {
  flex: 0 0 50%;

  display: flex;
  flex-direction: column;
  gap: 15px;

  align-items: center;
  padding: 50px;
}

#about-us-story strong {
  color: var(--main-color);
}
.brandname {
  font-size: 2rem;
  color: var(--main-color);
}

#about-us .img-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(90vh);

  flex: 1 0 50%;

  position: absolute;
  right: 0;
}

#about-us-img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
}

/* visit us section */

#visit-us {
  height: 20vh;
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: 15px;

  background-color: var(--forth-color);
  padding: 50px;
}

/* tagline section */

#tagline {
  display: flex;
  flex-direction: column;

  padding-top: 20px;
}

#tagline .img-container {
  height: 200px;
  margin: auto;
}

#tagline .img-container img {
  height: 100%;
  object-fit: contain;
}

#tagline h2 {
  padding: 50px;
  text-align: center;
  color: var(--main-color);
}

#tagline hr {
  border: none;
  height: 0;
  border-top: 1px solid var(--main-color);
}

/* career section */

#career {
  padding: 50px;
}

#career > * {
  margin-bottom: 20px;
}

#btn-career {
  display: inline-block;

  border: 1px solid var(--main-color);
  color: var(--main-color);

  padding: 10px 20px;
}

/* contact us section */

#contact-us {
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: var(--forth-color);
}

#contact-us .text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#social-media {
  background-color: #e9d2ae;
  padding: 50px 50px 40px 50px;
}

#social-media > * {
  margin-bottom: 20px;
}

#social-media .social-icons {
  display: flex;
  gap: 10px;
}

#social-media .social-icons a {
  display: flex;
  justify-items: center;
  align-content: center;

  width: 40px;
  height: 40px;
}

#social-media .social-icons svg {
  width: 100%;
  height: 100%;
  /* fill: var(--main-color); */
}

/* footer */

footer {
  display: flex;
  flex-direction: column;

  overflow: hidden;
}

#copyright {
  display: flex;
  flex-direction: column;
  gap: 15px;

  background-color: black;
  color: white;
  padding: 50px;

  text-align: center;

  opacity: 0;
  transform: translateY(40px);
  transition:
    opacity 1s ease-out,
    transform 1s ease-out;
}

#copyright.appear {
  opacity: 1;
  transform: translateY(0);
}
