* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #ff902a;
  --coffee-color: #8b5e3c;
  --common-font: Arial, Helvetica, sans-serif;
  --nav-font: "Inter";
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: var(--common-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  height: 10vh;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  margin-left: 50px;
  font-family: var(--nav-font);
}

nav ul li {
  padding: 20px;
}

.logo img {
  width: 80px;
  height: auto;
  object-fit: contain;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  min-height: 60vh;
  background-color: var(--brand-color);
}

#hero img {
  width: 400px;
}

footer {
}

.social-media {
}
